@use "../../App.scss" as *;

.home {
    margin: 0px 60px;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include mobile {
      width: 100%;
      margin: 2rem 1rem;
  }

    @include tablet {
      width: 100%;
      margin: 2.5rem 1rem;
  }

    .info {
       flex: 1.5;
       color: #fff;
       margin-left: 20px;
       margin-top: -50px;
       display: flex;
       flex-direction: column;
       gap: 2rem;
       
       
       h1 {
        margin-left: -25px;
        font-weight: 200;
        color: #b9bfb8;

        @include mobile {
          font-size: 1.2rem;
          position: relative;
          top: -30px;
      }

       @include tablet {
          font-size: 3rem;
          position: relative;
          top: -45px;
      }

       }
       .name {
         font-size: 50px;
         font-weight: bold;

         @include mobile {
          font-size: 1.6rem;
          width: 140%;
      }

        @include tablet {
          font-size: 4rem;
          width: 140%;
      }
       }
       .position {
        font-weight: 400;
        font-size: 1.5rem;

        @include mobile {
          width: 145%;
      }

         @include tablet {
          width: 145%;
          font-size: 40px;
      }
       }

       h3 {
        color: #b9bfb8;
        width: 75%;

        @include mobile {
          width: 155%;
      }

       @include tablet {
         width: 140%;
         font-size: 25px;
      }
       }
       .detail {
        display: flex;
        flex-direction: column;
        gap: 1rem;
       }

       .social {
        @include mobile {
          width: 158%;
      }

      @include tablet {
          width: 125%;
      }
         img {
            width: 2rem;
            background-color: #fff;
            border-radius: 15%;
            padding: 4px;
            margin: 6px;
            transition: 0.2s;

            &:hover {
                box-shadow: 3px 0px 20px rgba($color: #8585A7, $alpha: 1.0);
            }
            @include tablet {
              width: 3rem;
              margin: 10px;
            }
         }
       }

    }
    .personalImg {
       flex: 1;
       width: 100%;

       img {
        width: 75%;
        height: 50%;
        image-rendering: crisp-edges;
        -webkit-mask-image: linear-gradient(to bottom, #000 80%, transparent);

        @include mobile {
          display: none;
      }

       @include tablet {
          display: none;
      }
       }
    }
    .down {
      width: 40px;
      position: absolute;
      bottom: 50px;
      right: 50%;
      animation: dropDown 2s infinite;

      @include mobile {
        display: none;
    }
      @include tablet {
        display: none;
    }
    }
    .down2 {
     
      animation-delay: 0.3s; // تأخير لبدء الحركة بعد السهم الأول
    }
    .down3 {
     
      animation-delay: 0.5s; // تأخير أطول لبدء الحركة بعد الثاني
    }
}


@keyframes dropDown {
   0% {
     transform: translateY(0);
     opacity: 1;
   }
   // 50% {
   //   transform: translateY(20px);
   //   opacity: 0.5;
   // }
   100% {
     transform: translateY(60px);
     opacity: 0;
   }
 }