@use "../../App.scss" as *;

.navbar {
    align-items: center;
    margin: 1.6rem 1.875rem;
    @include mobile {
        width: 100%;
    }

    @include tablet {
        width: 100%;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: var(--text-color);
        }
        .boxbtn {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-right: 50px;
            margin-bottom: 10px;

            .cont {
                @include mobile {
                    display: none;
                }
            }

            h3 {
                background-color: var(--button-bg);
                color: var(--text-color);
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;

                    &:hover {
                        transition: 0.3s;
                        background-color: #8585A7;
                      }
            }
            img {
                width: 25px;
                background-color: #ffffff;
                border-radius: 50%;
                padding: 7px;
                cursor: pointer;
            }
        }
    }
}
