body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
