*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

body {
  font-family: 'Inter', sans-serif;
  /* overflow-x: hidden; */
  background-color: var(--primary-color); /* إن وجد */
}



:root {
    --primary-color: #1A172D;    /*لون الخلفية الاساسي*/
    --text-color: #ffffff;       /*لون الخط الاساسي*/
    --secondary-text: #D1D5DB;   /* لون النص الثانوي */
    --accent-color: #F5C518;     /* لون مميز (ذهبي) */
    --button-bg: #6B6B83;        /* لون الأزرار */

    /* 🔠 أحجام الخطوط */
    --font-size-lg: 40px;   /* العنوان الرئيسي */
    --font-size-md: 24px;   /* العناوين الفرعية */
    --font-size-sm: 16px;   /* النص الأساسي */
    --font-size-xs: 14px;   /* الأزرار والنصوص الثانوية */
}